// Your custom variables
// Colors from here: https://www.dia.govt.nz/vwluResources/DIA%20Visual%20Identity%20Guide%208-5-2019/$file/DIA%20Visual%20Identity%20Guide%208-5-2019.pdf

$mdb-font-family: "Source Sans Pro", sans-serif;

$default-color: #3fae2a;
$default-color-dark: #4a7729;
$primary-color: #0c79be;
$primary-color-dark: #00465d;
$secondary-color: #752f8a;
$secondary-color-dark: #333;
